.flash-card {
  background-color: var(--green);
  color: var(--cream);
  padding: 10px;
  margin: 20px 0;
  border-radius: var(--radius);
}
.card-title {
  text-align: center;
  font-weight: 700;
}
.card-content {
  padding: 0 3%;
}