header {
	margin: 0;
	padding: 0 2em 1em 2em;
	background: var(--green);
}
	
.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--cream);
}

.nav-links a:hover {
  background-color: var(--orange);
  border-radius: var(--radius);
  padding: 5px;
}

.expanded {
  display: unset;
}

/* Hamburger menu in celphone */
.hamburger {
  padding: 20px 0 0 0;
  cursor: pointer;
  display: flex;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: var(--orange);
  margin-bottom: 10px;
}

nav a.active {
	border-bottom-color: var(--orange);
	text-decoration: none;
}

.ho-menu {
  display: none !important;
}

.conectemos {
	background-color: var(--orange);
	color: var(--green);
	border-radius: 30px;
  margin: 0 30px;
}

.ho-hamburger {
  color: var(--cream);
  margin-left: 25%;
  font-size: 30px !important;
}


@media (min-width: 769px) {
  .ho-hamburger {
    font-size: 1.7em !important;
      margin-left: 30%;
  }
}

/* Size grater than a tablet */
@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: .5em;
  }

  .nav-links a {
    font-size: .8em;
  }

  .hamburger {
    display: none;
  }

  .conectemos {
    margin: 0;
    padding: 5px 15px !important;
  }

  .ho-menu {
    display: block !important;
    font-size: 30px !important;
}
}

/* Big screens */
@media (min-width: 1201px) {
  .nav-links a {
    font-size: 1em;
  }
  .ho-menu {
    font-size: 1.5em !important;
  }
}