.home {
	overflow: hidden;
  position: relative;

  img {
		border-radius: var(--radius);
		width: 100%;
    height: 100%;
	}
}

/* Text over main image */
.home-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--green-light);
	color: var(--cream);
	height: 60%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
	p {
  font-size: 1em;
	margin: 0;
	}
}

.image-in-circle {
	position: relative;
	width: 45%;

	img {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}

/* FIX: circle behind image */
.circle {
	position: absolute;
	background-color: var(--green);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.cards-display {
  display: flex;
  height: 60vh;
  justify-content: space-around;
}

/* For tablet */
@media (min-width: 576px) and (max-width: 720px) {

}

/* For laptops and pc */
@media (min-width: 721px) and (max-width: 992px) {
	.home-image {
		height: 50%;
		width: 70%;
		padding: 4%;
		p {
		font-size: 1.4em;
		}
	}
}

/* For largte screens */
@media (min-width: 993px) {
	.home-image {
		height: 50%;
		width: 80%;
		padding: 4%;
		p {
		font-size: 2em;
		}
	}
}