.home {
	overflow: hidden;
  position: relative;

  img {
		border-radius: var(--radius);
		width: 100%;
    height: 100%;
	}
}

/* Text over main image */
.home-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--green-light);
	color: var(--cream);
	height: 60%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius);
	p {
  font-size: 1em;
	margin: 0;
	}
}

.image-in-circle {
	position: relative;
}

/* FIX: circle behind image */
.circle {
	position: absolute;
	background-color: var(--green);
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.cards-display {
  display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* For tablet */
@media (min-width: 576px) {
	.home-image p {
		font-size: 1.2em;
	}
}

/* For laptops and pc */
@media (min-width: 769px) {
	.home-image {
		height: 50%;
		width: 70%;
		padding: 4%;
		p {
		font-size: 1.4em;
		}
	}

	.hogar-corporal {
		font-size: 4em;
	}

	.cards-display {
		justify-content: space-around;
		flex-direction: row;
		height: 50vh;
	}

	.circle {
		width: 450px;
		height: 450px;
	}

	.image-in-circle {
		img {
			width: 70%;
			margin-left: 10%;
		}
	}

}

/* For largte screens */
@media (min-width: 1025px) {

	.hogar-corporal {
		font-size: 4.5em;
	}
	.home-image {
		height: 50%;
		width: 60%;
		padding: 4%;
		p {
		font-size: 1.8em;
		}
	}

	.image-in-circle {
		width: 40%;
		img {
			width: 100%;
			margin-top: 30%;
		}
	}

	.circle {
		width: 350px;
		height: 350px;
		left: 70%;
		top: 30%;
	}

	.cards-display {
		height: 65vh;
	}

}

/* Big screens */
@media (min-width: 1201px) {
	.home-image {
		height: 30%;
		width: 60%;
		padding: 4%;
		p {
		font-size: 2em;
		}
	}

	.circle {
		width: 450px;
		height: 450px;
		left: 70%;
		top: 50%;
	}
}