ul > li {
  list-style-type: none;
}

.image-principal {
  position: relative;
  margin-bottom: 10%;
  
  .rectangle-green {
    position: absolute;
    background-color: var(--green);
    width: 80%;
    height: 90%;
    border-radius: 30px;
    top: 15%;
    right: 0%;
    z-index: -1;
  }

  img {
    width: 80%;
    height: auto;
    border-radius: 30px;
  }
}

.image-secondary {
  position: relative;
  
  .rectangle-green-ligth {
    position: absolute;
    background-color: var(--green-light);
    width: 80%;
    height: 90%;
    border-radius: 30px;
    top: 15%;
    z-index: -1;
  }

  img {
    margin-left: 10%;
    width: 90%;
    height: auto;
    border-radius: 30px;
  }
}

/* Styles for the paragraphs with background */
.background-green {
  background-color: var(--green-light);
  padding: 1em;
  color: var(--cream);
  border-radius: 30px;
  text-align: center;

  p {
    text-align: center;
  }
}