.image-principal {
  position: relative;
  
  .rectangle-green-ligth {
    position: absolute;
    background-color: var(--green-light);
    width: 100%;
    height: 60%;
    border-radius: 30px;
    top: 5%;
    z-index: -1;
  }

  img {
    width: 90%;
    height: auto;
    border-radius: 30px;
  }
}

.schedule {
  background-color: var(--green-light);
  border-radius: 30px;
  color: var(--cream);
  p {
    text-align: center;
  }
}

/* For largte screens */
@media (min-width: 1025px) {
  .image-principal {
    width: 50%;
  .rectangle-green-ligth {
    background-color: var(--green-light);
    width: 90%;
    height: 30%;
    border-radius: 30px;
    top: 5%;
    z-index: -1;
  }

  img {
    width: 90%;
    height: auto;
    border-radius: 30px;
  }
  }

  .schedule {
    position: absolute;
    top: 40%;
    width: 90%;
  }
}

/* Big screens */
@media (min-width: 1201px) {
  .image-principal {
    .rectangle-green-ligth {
      height: 50%;
    }
  }

  .schedule {
    top: 60%;
  }
}
