---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hogar Coporal</h1>
			<h2>Psic. Leonor Brenes Mesa</h2>
			<h1>"Sanar desde el cuerpo, habitar desde el cuidado."</h1>
			<p>Este es un espacio creado para <b>acompa침arte en el proceso de reconectar contigo misma/o, con tu cuerpo y con tus v칤nculos</b>, desde una mirada compasiva y respetuosa.</p>
			<p>En Hogar Corpral te ofrezco un acompa침amiento terap칠utico basado en la psicoterapia integrativa y el Yoga Sensible al Trauma (TCTSY), donde la seguridad, la elecci칩n y el cuidado son fundamentales.</p>
			<p>Tal vez no siempre hay palabras para lo vivido, pero s칤 hay <b>caminos para volver al cuerpo, cultivar presencia y construir formas m치s amables de habitarte</b>. Aqu칤 puedes pausar, respirar y explorar lo que necesites, a tu propio ritmo.</p>
			<p>Eres bienvenida/o a comenzar este camino, desde el cuerpo, el v칤nculo y la presencia.</p>
			<p>游 <b>Te doy la bienvenida a este hogar</b>.</p>
			<h1>Formas de acompa침ar</h1>
		</main>
		<Footer />
	</body>
</html>
