---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FlashCard from '../components/FlashCards.astro'
import '../styles/yoga.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from 'astro:assets';
import yoga from '../assets/yogaSensible.jpg'
import abrazo from '../assets/yogaSensible-abrazo.png'
import FlashCards from '../components/FlashCards.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Yoga Sensible a Trauma<h1/>
			<h2>(TCTSY)</h2>
			<div class="flex-image">
				<div class="text-with-image">
					<p>
						춰Es un <b>tratamiento complementario a la psicoterapia</b> basado en el <b>movimiento y el yoga</b>. 
						A diferencia del yoga tradicional, TCTSY no se centra en alcanzar metas f칤sicas, 
						se enfoca en <b>crear un espacio seguro</b> donde puedas:
					</p>
					<ul>
						<li>游꺔 Reconectar con tu cuerpo</li>
						<li>游꺔 Recuperar el sentido de elecci칩n</li>
						<li>游꺔 Cultivar la presencia en el aqu칤 y ahora</li>
						<li>游꺔 Explorar el movimiento de forma segura</li>
					</ul>
				</div>
				<div class="image-principal">
					<div class="rectangle-green"/>
					<Picture
						src={yoga}
						alt="Dibujo de persona viendo una flor"
						formats={['avif', 'webp']}
					/>
				</div>
			</div>
			<p class="background-green">
				La metodolog칤a de TCTSY fue desarrolla por el Trauma Center y cuenta con amplia 
				evidencia de sus beneficios para los s칤ntomas de trauma emocional.
			</p>
			<div class="flex-image">
				<div class="image-secondary">
					<div class="rectangle-green-ligth"/>
					<Picture
						src={abrazo}
						alt="Dibujo de persona abraz치ndose a s칤 misma"
						formats={['avif', 'webp']}
					/>
				</div>
				<div class="text-with-image">
					<p><b>Beneficios</b> de la pr치ctica de TCTSY:</p>
					<ul>
						<li>九덢잺 Reduce los s칤ntomas del trastorno de estr칠s postraum치tico (TEPT) y trauma complejo</li>
						<li>九덢잺 Mejora de la regulaci칩n emocional</li>
						<li>九덢잺 Aumenta la sensaci칩n de seguridad y conexi칩n con el propio cuerpo</li>
						<li>九덢잺 Potencializa la capacidad para manejar el estr칠s</li>
					</ul>
				</div>
			</div>
			<div class="background-green">
				<p><b>TCTSY puede ser para ti si:</b></p>
				<ul>
					<li>游녤游낖 Has experimentado alg칰n trauma o experiencia traum치tica</li>
					<li>游녤游낖 Has pasado por enfermedades o diagn칩sticos que te hagan sentir que pierdes control de tu cuerpo</li>
					<li>游녤游낖 Buscas un enfoque terap칠utico corporal suave y respetuoso</li>
					<li>游녤游낖 Deseas reconectar con tu cuerpo y recuperar el sentido de control</li>
					</ul>
			</div>
			<h2>Diferencias a una sesi칩n de yoga regular</h2>
			<p>
				La metolog칤a de TCTSY permite que las sesiones sean adaptadas a las necesidades de cada persona. 
				Algunas de las diferencias principales que notar치s ser치n:
			</p>
			<div>
				<FlashCards
					title='Lenguaje invitacional y opcional:'
					content='Todos los movimientos se facilitan como una invitaci칩n, t칰 decides c칩mo y cu치ndo mover tu cuerpo.'
					color=''
				/>
				<FlashCards
					title='Formas accesibles:'
					content='No es necesario que tu cuerpo se vea o sienta de cierta forma. No se necesita flexibilidad o fuerza, aunque quiz치 notes beneficios f칤sicos.'
					color=''
				/>
				<FlashCards
					title='Pr치ctica compartida:'
					content='Se comparte la experiencia de practicar. Es decir, que como facilitadora estar칠 tambi칠n realizando los movimientos, no solo dict치ndolos.'
					color=''
				/>
				<FlashCards
					title='Invitaci칩n a sentir:'
					content='Se te invitar치 a sentir tu cuerpo de forma gradual. Conectando poco a poco con tus sensaciones f칤sicas.'
					color=''
				/>
				<FlashCards
					title='Indicaciones verbales:'
					content='Todas las invitaciones son verbales. En ning칰n momento ser치 necesario que haya contacto f칤sico.'
					color=''
				/>
			</div>
			<h2>Sesiones de TCTSY</h2>
			<div>
				<FlashCards
					title='Sesiones Grupales'
					content='Una opci칩n para TCTSY  es integrarse a un grupo. Esta opci칩n puede ser m치s accesible econ칩micamente.'
					color=''
				/>
				<FlashCards
					title='Sesiones Individuales'
					content='Puedes agendar sesiones individuales de TCTSY.'
					color='Est치 opci칩n puede tener m치s flexibilidad de horarios, encontrando un horario que nos acomode a ambas partes.'
				/>
			</div>
		</main>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>