---
import '../styles/flash-cards.css'
interface Props {
  title: string;
  content: string;
  color: string;
}

const { title, content, color } = Astro.props
---

<div class="flash-card">
  <p class="card-title">{title}</p>
  <p class="card-content">{content}</p>
</div>