---
import HeaderLink from './HeaderLink.astro';
import '../styles/header.css'
---

<header>
	<nav>
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
		<div class="nav-links">
			<HeaderLink href="/" class="hogar-corporal ho-menu">Hogar Corporal</HeaderLink>
			<HeaderLink href="/sobre-mi">Sobre mí</HeaderLink>
			<HeaderLink href="/psicoterapia">Psicoterapia</HeaderLink>
			<HeaderLink href="/yoga-sensible">Yoga Sensible</HeaderLink>
			<HeaderLink href="/yoga-hatha">Yoga Hatha / Vinyasa</HeaderLink>
			<!-- <HeaderLink href="/conectemos" class="conectemos">Conectemos</HeaderLink> -->
		</div>
	</nav>
</header>